.search input {
    margin: 0px 15px;
    width: 55%;  
    padding: 12px;
    border: none;
    box-shadow: inset 0px 0px 3px 1px grey;
    border-radius: 5px;
    outline: 0px;
}

.search input:focus{
    border-bottom: solid 2px #617A55;
} 
